.study-card {
    display: flex;
    text-align: center;
    width: 18vw;
    height: 15rem;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.study-card img { 
    width: 7rem;
    margin-top: 3rem;
 }

.subject {
    height: max-content;
    font-size: 18px;
    align-items: center;
    margin: auto 0;
}

.study-card:hover{
    background-color: rgb(222, 222, 222);
}

@media screen and (max-width : 450px){
    .study-card{
        width: 40vw;
        height: 40vw;
    }
    .study-card img{
        width: 20vw;
        margin-top: 1rem;
    }
}