.navbar{
    background-color: #2a0316;
}

.navbar-menu{
    position: relative;
    display: flex;
    gap: 0.3rem;
}

.sidebar{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}
.badge-img{
    top: 8%;
    right: 0;
    animation: flicker 5s infinite;
}

@keyframes flicker {
    0%{
        opacity: 0.75;
        transform: scale(0.85);
    }
    50%{
        opacity : 1;
        transform: scale(1);
    }
    100%{
        opacity: 0.75;
        transform: scale(0.85);
    }
}