.progress-dialog{
    height: 25vh;
    width: 25vh;
    background-color: yellowgreen;
    border-radius: 50%;
   position: fixed;
   top: 37vh;
   right: 50%;
   translate: 50% 0;
   z-index: 999;
}

.progress-inner{
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
    background-color: #1E1B4B;
}