.progress-dialog{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0, 0.3);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   color: #4c1d95;
}

.progress-inner{
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
    background-color: #fff;
}